* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #010001;
    padding-top: 53px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

header {
    max-width: 1230px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.item {
    
}

.item-link {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 14px;
}

.secondary-nav .item-link {
    color: #808080;
}

.main {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 30px;
}

.title {
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 26px;
}
.description {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    max-width: 268px;
    margin: auto;
}
.description::after {
    content: "";
    display: block;
    height: 60px;
    width: 1px;
    margin: 26px auto 0px;
    background: #fff;
}

.video {
    height: 750px;
    max-width: 1230px;
    width: 90%;
    margin: auto;
}

.features {
    max-width: 1230px;
    width: 90%;
    margin: auto;
    padding: 100px 0px;
    position: relative;
}
.features-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 45px;
}
.table {
    margin-bottom: 200px;
}
.table-column {
    width: 300px;
    padding: 6px 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 179.69%;
}

.features-text {
    max-width: 490px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
}

.rocket {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 5;
    max-width: 300px;
}

.footer {
    padding: 130px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .logo {
    margin-bottom: 43px;
}
.footer-nav {
    margin-bottom: 28px;
}
.footer-nav .item-link {
    font-size: 18px;
    line-height: 21px;
}
.footer-text {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #808080;
}
.footer-link {
    color: #808080;
    text-decoration: none;
}
.button {
    padding: 20px 86px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #FFFFFF;
}


@media (max-width: 960px) {
    .rocket {
        width: 230px;
    }
    .table-column {
        width: 230px;
    }
}
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    .header .logo {
        margin-bottom: 20px;
    }
    .header .main-nav {
        margin-bottom: 20px;
    }
    .rocket {
        max-width: 180px;
    }
    .video {
        width: 100%;
    }
}
@media (max-width: 576px) {
    .main {
        padding-top: 50px;
    }
    .features {
        padding-bottom: 0px;
    }
    .rocket {
        position: static;
        margin-bottom: 30px;
    }
    .table {
        margin-bottom: 0px;
    }
    .table-column {
        font-size: 14px;
        width: 150px;
    }
    .footer-nav .list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-nav .item {
        margin-bottom: 10px;
    }
    .footer-text {
        text-align: center;
    }
}